@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 10px;
}

.slick-prev {
  background: none !important;
}

.slick-prev {
  left: -39px !important;
}

.slick-prev::before {
  content: "←";
  color: red !important;
  font-size: 40px !important;
}
.slick-next {
  background: none !important;
}

.slick-next {
  right: -22px !important;
}

.slick-next::before {
  content: "→";
  color: red !important;
  font-size: 40px !important;
}
